<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- for Notification: kakaoNotification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- api 28 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Combine">
        <activity
            android:name=".CamActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.app.camera_view.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_file_path" />
        </provider>

        <activity
            android:name=".camera_view.PreviewActivity"
            android:exported="false" />
        <activity
            android:name=".camera_view.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".doit_ch14_batteryInfo.Main14Activity"
            android:exported="false" />

        <receiver
            android:name=".doit_ch14_batteryInfo.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".doit_ch13.Main13Activity"
            android:exported="false" />
        <activity
            android:name=".doit_ch13.AddActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />

        <receiver
            android:name=".kakaonotification.ReplyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".livedata_ex.LVEActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.VPActivity"
            android:exported="false" />
        <activity
            android:name=".thread_timer.TTActivity"
            android:exported="false" />
        <activity
            android:name=".nav_and_sharedviewmodel.ui.NSActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_ex.ui.LottoActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.example.layoutex1.ui.LEActivity"
            android:exported="false" />
        <activity
            android:name=".notifications.NotiActivity"
            android:exported="false" />
        <activity
            android:name=".kakaonotification.KNActivity"
            android:exported="false" />
        <activity
            android:name=".fragmentlifecycletest.FLTActivity"
            android:exported="false" />
        <activity
            android:name=".customdialog.CustomDialogActivity"
            android:exported="false" />
        <activity
            android:name=".databinding_ex.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".dialogs.DialogsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>